body{
    background-color: rgb(29, 24, 24);
    margin: 0;
    padding: o;

}
a{
    text-decoration: none !important;
}

button{

    outline: none !important; 
    box-shadow: none !important;
}


::-webkit-scrollbar{  
    width: 8px;
    height: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(100, 97, 97);
    border-radius: 10px;
}

.grid-navbar .navbar-nav .nav-item  a:hover, 
.root-list-item:hover, .play-list-scroll li a:hover, .navbar-footer a:hover
{
    opacity: 1;
}
.grid-container{

    background: rgb(31, 28, 28);
    display: grid;
    
    grid-template-areas:

    "navbar mainview aside"
    "navbar main  aside"
    "navbar main aside"
    "navbar main aside"
    "footer footer footer";

    grid-template-rows: 45px 4fr 1fr 1fr 86px;
    grid-template-columns: 200px 4fr  253px;
    height: 100vh;    
}
.grid-footer{
    
    background: #232526;  
    background: -webkit-linear-gradient(to left, #303031, #17191a);  
    background: linear-gradient(to left, #353638, #1c1e1f); 
    
    grid-area: footer; 
}
.grid-main{

    background-color: rgba(16, 17, 19, 0.89);
    grid-area: main;
    flex:1;
    height: 100%;
    min-height: 0;
    overflow-y: scroll;
}
.grid-navbar{

    background-color: rgb(0, 0, 0, .6);
    grid-area:navbar;    
}
.grid-aside{

    
    grid-area: aside;
    background: #000000;  
    background: linear-gradient(to right, #0a0a0a,    #22221d);
    background: -webkit-linear-gradient(to right, #383737, #353434);      
}

.grid-mainview{
    background-color:rgba(16, 17, 19, 0.89);
    grid-area: mainview;

}
.grid-navbar .logo{
   
    margin:3px;
    width: 131px;
    max-height: 40px;
}

.grid-navbar  .navbar-nav{

    padding: 0px  ;
}
.grid-navbar .navbar-nav .nav-item  a {

    border-radius : 4px;
    font-size: 14px;
    padding: 0 16px;
    height: 30px;
    color: #fff;
    opacity: .6;
    font-weight: 600;
    margin-block-start: 10px;
}
.grid-navbar .navbar-nav .active i {

    background-color: rgb(0, 0, 0, .6);
    opacity: 1;
} 

.grid-navbar .navbar-nav .nav-item  i {

    font-size: 15px;
    margin-right: 16px;

}
.root-list .root-list-header h2 {
     font-size:12px;
     color: #b3b3b3;
     text-transform: uppercase;
     letter-spacing: .17em;
     margin-left: 10px;
     font-weight: 600;
     margin-bottom: 10px;
     padding: none;
}
 .play-list-scroll { 

    padding: 0px 12px !important;
    margin: 0 !important;
}
  .play-list-scroll li a{ 
    font-size: 14px;
    color: rgb(190, 187, 187);
    opacity: .6;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-left: 8px;
    height: 30px;
}
.root-list-divideruno {

    margin: 0px;
    background-color:rgb(53, 50, 50);
    border:none;
    height: 1px;
}
.grid-navbar .navbar-footer a{ 
    background-color: rgba(22, 21, 21, 0.6);
    padding: 5px 24px;
    color: rgb(230, 225, 225);
    opacity: .6;
    height: 70px;
}
.grid-mainview header {
 
    padding: 12px 38px 12px 28px;
    
}
.grid-mainview header .icons-action-left button {
    border: none;
    height: 27px;
    width: 27px;
    border-radius: 30%;
    color: #fff;
    background-color: transparent;
    opacity: .3;
} 

.search-box  {

    position: absolute;
    top: 40%;
    left: 22%;
    transform: translate(-50%,-50%);
    background:rgba(250, 250, 249, 0.89);
    height:25px;
    border-radius: 40px;
    padding:8px;
}

.search-box:hover > .search-txt {

    width: 140px;
    padding: 0 6px;
    transition: 2s;
}
.search-btn {
    color: black;
    float:  left;
    width: 30px;
    height: 30px;
    border-radius: 60%;
    background: none;
    display: flex;  
}
.search-txt {

    border: none;
    height: 18px;
    background-color: transparent;
    outline: none;
    float: right;
    padding: 2px;
    color: rgb(12, 12, 12);
    font-size: 14px;
    transition: 1s;
}
 .grid-mainview  .btn-upgrade{

    background-color: transparent;
    border: 1px solid;
    font-size: 10px;
    font-weight: 700;
    max-height: 23px;
    max-width: 125px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: rgb(216, 213, 213);
    padding: 2px 22px;
    border-radius: 45px;
 }

 .grid-mainview .btn-upgrade:hover, .goin:hover {

    transform: scale(1.08);
    transition: .1s;
    color: #fff;
    font-weight: 600;

 }
 .grid-mainview .menu .users {

    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    object-fit: cover;
 }
 .grid-mainview .menu button { 

   border-radius: 20px;
   height: 30px;
   margin-top: -5px;
   border: none;
   color: rgb(243, 238, 230);
   padding: 4px;
   background-color:  transparent;
 }
 .grid-mainview .menu:hover > .dropdown-menu, .grid-mainview .menu:hover > button {

    display:block;
    background-color: rgba(27, 29, 31, 0.89);

 }
 .grid-mainview .menu button:hover {

    background-color: rgba(27, 29, 31, 0.89);
 }

 .grid-mainview .menu button span {

    margin-left: 8px;
    font-weight: 700px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 110px;

 }
 .grid-mainview  .menu .dropdown-menu {

    background-color: #282828;
    box-shadow: 0 4px 4px rgba(8, 2, 2, 0.7);
    border-radius: 4px;
    position: absolute;
    left: 80%;
    top: 70%;
    border: 1px solid rgba(22, 5, 5, 0.7);

 }

 .grid-mainview  .menu .dropdown-menu  .dropdown-item{

    color: #fff;
    opacity: .6;
    padding: 3px 20px;
    line-height: 32px;

 }

 .grid-mainview .menu .dropdown-menu .dropdown-item:hover{
     opacity: 1;
     background-color: #333;

 }
 .circleChildren{
    width: 200px;
    height: 440px;
    background: #363636;  
    background: linear-gradient(to left, #2b2a2a,    #222221);
    background: -webkit-linear-gradient(to left, #3b3939, #313030);
    position: absolute;
    left: 85.9%;
    top: 19%;
    border-radius: 800px 0px 0px 800px; 
 }
.circleMoom{
    width: 190px;
    height: 140px;
    background: #363636;  
    background: linear-gradient(to left, #2b2a2a,    #222221);
    background: -webkit-linear-gradient(to left, #3b3939, #313030);
    position: absolute;
    left: 86.7%;
    border-radius:7px 0px 0px 140px;
    
 }
 .grid-aside  .aviso{   
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    left: 80%;
    top: 35%;
    letter-spacing: 2;
    color: #fff;
    padding-left: 90px;
 }
 .grid-aside  .goin{    
    background-color: rgba(19, 18, 18, 0.7);
    border: 1px solid;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1.4px;
    position:absolute;
    max-width: 220px;
    left: 84%;
    top: 50%;
    text-transform: uppercase;
    color: #fff;
    padding: 6px 36px;
    border-radius: 40px;

 }
 .grid-main  .main-top {
    letter-spacing: 1.6;
    color: rgb(27, 23, 23);
    margin-left:90px;
    padding: 17px 120px;
 }
 .grid-main  .main-top h1{

    font-size: 29px;
 }
 .grid-main  .main-top h2{

    font-size: 17px;
 }
 .grid-main  .main-top h3{

    font-size: 7px;
    font-weight: bold;
 }
 .grid-main .slide{

    width: 979px;
    height: 225px;
    margin-top: 0px;
    background: rgba(235, 180, 85, 0.920);
 }
.grid-main .premiun .logodos{

    margin:4px;
    width: 85px;
    height: 60px;
    margin-left: 125px ;
    margin-top: -85px;
}
.grid-main .main-top h4 {

    font-size: 27px;
    margin-left: 190px;
    margin-top: 17px;
    display: inline-block;
    font-weight: bold;
}
.grid-main .modelo .model{

    margin:3px;
    width: 360px;
    height: 205px;
    display: inline-block;
    margin-top: -290px;
    margin-left: 320px ;     
}
.grid-main .atajos h5 {

    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding: 20px;
    margin-left: -20px;
}
.grid-main .atajos .next {
    
    padding: 40px 15px;
    margin-top:-90px;
}
.grid-main   .atajos .next .d-flex { 
    border: none;
    height: 27px;
    width: 27px;
    border-radius: 30%;
    color: #fff;
    background-color: transparent;
    opacity: .3;
    margin: 5px;
} 
.root-list-dividerdos {
    margin: 10px;
    margin-top: -40px;
    background-color:rgb(53, 50, 50);
    border-bottom: 0px;
    max-width: 100%;
    margin-block-end: 10px;   
}
.grid-main .card{
    position: relative;
    padding: 4px 4px;
    margin-left: 11px;
}
.grid-main .list .card{
    padding-left: 0px 5px 5px;
    background-color: rgba(16, 17, 19, 0.89);      
}
.grid-main .list .col-12{
    padding-left: 12px;
    padding-right: 12px;
}
.grid-main .list .body-card{
    max-height: 5px;
}
.grid-main  .card-img-top{
    height: 217px;
    width: 226px; 
    position: relative;  
    overflow: hidden;
}
.grid-main  .card-img-top img{
    width: 100%;
    height: 100%;
}
 .capa{
    position:absolute;
    height: 218px;
    width: 226px;
    background:  rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: .3s ease-out;
}
.card:hover .capa{
    transform: scale(1);
}
.grid-main .list .card .card-tittle{
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    padding-top: 8px;
    min-height: 12px;
    min-width: 180px;
    letter-spacing: .30px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px;
}
.grid-main .list .card  .card-text{
    font-size: 15px;
    font-weight: 500;
    min-width: 180px;
    letter-spacing: .24px;
   color: rgb(109, 109, 110);
    
}
.grid-main .list .card  .listen{
    font-size: 13px;
    text-transform: uppercase;
    min-width: 180px;
    letter-spacing:  .12px;
    margin-block-start: -10px;
    color: rgb(98, 98, 99); 
}
.grid-main .card-img-top:hover{
    transform: translateY(3px);
    transition: .2s;
}
.grid-main .bloques  {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;      
}
.grid-main  .list  .btn-play button  {
    color: rgb(194, 193, 193);
    position: absolute;
    background-color: transparent;
    opacity: .9;
    border-radius: 50%;
    border: none;
    top: 35%;
    left: 36%;
    font-size: 60px;
}
.grid-main  .list  .btn-play button:hover{
    transform: scale(1.10);
    transition: .1s;
    color: #fff;
}
.grid-main  .list .card .btn-heart button  {    
    color: #fff;
    position: absolute;;
    background-color:transparent;
    opacity:1;
    border-radius: 50%;
    left:5%;
    border: 20px;
    padding: 0px;
    font-size: 25px;
}
.grid-main  .list .card .btn-ellipsis button  {
    color: #fff;
    position:absolute;
    background-color: transparent;
    opacity: 1;
    border-radius: 50%;
    border: none;
    padding: 0;
    right: 10%;
    font-size: 20px;
}    
.grid-main .bloque1 h6 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;   
}
.root-list-dividertres {
    margin: 10px;
    margin-top:0px;
    background-color:rgb(53, 50, 50);
    border-bottom: 0px;
    max-width: 100%;
    margin-block-end: 10px;   
}
.grid-main .bloque2 h6 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.grid-main   .bloque2 .next .d-flex { 
    border: none;
    height: 27px;
    width: 27px;
    border-radius: 30%;
    color: #fff;
    background-color: transparent;
    opacity: .3;
    margin: 5px;
    margin-block-start:-10px; 
} 
.grid-main .notation h5{
    font-size: 13px;
    font-weight:400;
    letter-spacing: .5px;
    top:10%;
    margin-left: 10px;
    color: rgb(156, 155, 155);
    margin-block-start:-25px; 
}
.root-list-dividercuatro{
    margin: 10px;
    margin-top:0px;
    background-color:rgb(53, 50, 50);
    border-bottom: 0px;
    max-width: 100%;
    margin-block-end: 10px;     
}
.grid-footer  .cover{
    margin-left: 5px;
    padding:  10px;
}
.grid-footer  .cover img{

    height: 65px;
    width: 70px;
}
.grid-footer .text label{
    font-size: 13px;
    line-height: 25px;
    letter-spacing: .015em;
    color: #fff;
    padding-top:20px;
   white-space: nowrap;   
}
.grid-footer .text span{
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: .015em;
    color: rgb(138, 135, 135);
    text-align:left;
}
.grid-footer .icon-heart{
    position: relative;;
    color: rgb(136, 130, 130);
    width: 32px;  
}
.grid-footer .icon {  
    color: rgb(114, 107, 107);
    width: 32px;
}
.grid-footer .play{
    font-size: 35px;
    color: rgb(151, 145, 145);
    margin-top: -2px;
    
}
.grid-footer .player-center{
    width: 100%;
    max-width: 565px;
    margin-left: 310px;
}
.grid-footer .player-center .icon:hover{
    color: #fff;
}
.grid-footer .player-center .play:hover{
    transform: scale(1.10);
    transition: .1s;
    color: #fff;
}
.grid-footer .player-center .player-center-controls{
    max-width: 250px;
    margin-bottom: 12px;
    margin-top:-17px;
    color: #fff;
} 
/*.grid-footer .player-center .progress-time{
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: rgb(122, 118, 118);
    margin-top: -40px;
} */
.grid-footer .player-center .progress-bar{
    background-color: #535353;
    border-radius: 2px;
    display:block;
    height: 4px;
    min-width: 620px;
    margin-top: 10px;
    margin-left: -350px;
}
.grid-footer .player-center .progress{
    color: #beb8b8;
    width: 70%;
}
.grid-footer .player-center .progress:hover{
    background-color:rgb(116, 236, 17) ;
    max-width: 100%;  
}
.grid-footer .master {
    margin-left: 570px;
    margin-top: -50px;
}
.grid-footer .master .icon{
    margin-left: 10px;
}

