body{
    background-color: rgb(29, 24, 24);
    margin: 0;
    padding: o;

}
a{
    all: unset;
    text-decoration: none !important;
}

button{

    outline: none !important; 
    box-shadow: none !important;
}


::-webkit-scrollbar{  
    width: 8px;
    height: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(100, 97, 97);
    border-radius: 10px;
}

.grid-navbar .navbar-nav .nav-item  a:hover, 
.root-list-item:hover, .play-list-scroll li a:hover, .navbar-footer a :hover
{
    opacity: 1;
}
.grid-container{

    background: rgb(31, 28, 28);
    display: grid;
    
    grid-template-areas:

    "navbar mainview aside"
    "navbar main  aside"
    "navbar main aside"
    "navbar main aside"
    "footer footer footer";

    grid-template-rows: 42px 4fr 1fr 1fr 78px;
    grid-template-columns: 200px 4fr  253px;
    height: 100vh;    
}
.grid-footer{
    
    background-color: rgba(39, 39, 38, 0.8);
    grid-area: footer;
  
}

.grid-main{

    background-color: rgba(27, 29, 31, 0.89);
    grid-area: main

}



.grid-navbar{

    background-color: rgb(0, 0, 0, .6);
    grid-area:navbar;
    

}
.grid-aside{

    background-color: rgb(0, 0, 0, .6);
    grid-area: aside;
    
}

.grid-mainview{
    background-color:rgba(27, 29, 31, 0.89);
    grid-area: mainview

}
.grid-navbar .logo{
   
    margin:3px;
    width: 131px;
    max-height: 40px;
}

.grid-navbar  .navbar-nav{

    padding: 0 8px;
}
.grid-navbar .navbar-nav .nav-item  a {

    border-radius : 4px;
    padding: 0 16px;
    height: 30px;
    color: #fff;
    opacity: .6;
    font-weight: 500;
    margin-block-start: 10px;
}
.grid-navbar .navbar-nav .nav-item.active i {

    background-color: rgb(0, 0, 0, .6);
    opacity: 1;
} 

.grid-navbar .navbar-nav .nav-item  i {

    font-size: 22px;
    margin-right: 16px;


}
.root-list .root-list-header h2 {
     font-size: 12px;
     color: #b3b3b3;
     text-transform: uppercase;
     letter-spacing: .16em;
     margin-left: 24px;
     margin-bottom: 12px;
     padding: none;
}


 .play-list-scroll { 

padding: 8px 24px !important;


}
  .play-list-scroll li a{ 

    color: rgb(190, 187, 187);
    opacity: .6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    height: 30px;
   

}
.root-list-divider {

    margin: 2px 14px;
    background-color:rgb(22, 20, 20);
    border:none;
    height: 3px;
    
}
.navbar-footer {

    background-color: rgb(0, 0, 0, .6);
}
.navbar-footer a
 { 
    background-color: gba(27, 29, 31, 0.89);
    padding: 5px 24px;
    color: rgb(230, 225, 225);
    opacity: .6;
    height: 70px;

}

.grid-mainview header {
 
    padding: 12px 38px 12px 28px;
    
}
.grid-mainview header .icons-action-left button {



    border: none;
    height: 27px;
    width: 27px;
    border-radius: 30%;
    color: #fff;
    background-color: rgba(27, 29, 31, 0.89);
    opacity: .3;
} 

.search-box  {

    position: absolute;
    top: 40%;
    left: 22%;
    transform: translate(-50%,-50%);
    background:rgba(250, 250, 249, 0.89);
    height:25px;
    border-radius: 40px;
    padding:8px;
}

.search-box:hover > .search-txt {

    width: 140px;
    padding: 0 6px;
    transition: 2s;
}

.search-btn {


    color: black;
    float:  left;
    width: 30px;
    height: 30px;
    border-radius: 60%;
    background: none;
    display: flex;
   
}
.search-txt {

    border: none;
    height: 18px;
    background: none;
    outline: none;
    float: right;
    padding: 2px;
    color: rgb(12, 12, 12);
    font-size: 14px;
    transition: 1s;
}

 .grid-mainview  .btn-upgrade{

    background-color: rgba(19, 18, 18, 0.7);
    border: 1px solid;
    font-size: 10;
    font-weight: 500;
    max-height: 25px;
    letter-spacing: 1.76;
    text-transform: uppercase;
    color: rgb(216, 213, 213);
    padding: 8px 34px;
    border-radius: 50px;
 }

 .grid-mainview .btn-upgrade, .goin:hover {

    transform: scale(1.07);

 }
 .grid-mainview .menu .users {

    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;

 }
 .grid-mainview .menu button { 

       border-radius: 20px;
       height: 30px;
       border: none;
       color: blanchedalmond;
       padding: 2px;
       background-color:  rgba(27, 29, 31, 0.89);

 }

 .grid-mainview .menu:hover > .dropdown-menu, .grid-mainview .menu:hover > button {
 
   display:block;
    background-color: rgba(27, 29, 31, 0.89);

 }

 .grid-mainview .menu button:hover {

    background-color: rgba(27, 29, 31, 0.89);
 }

 .grid-mainview .menu button span {

    margin-left: 8px;
    font-weight: 700px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 110px;

 }
 .grid-mainview  .menu .dropdown-menu {

    background-color: #282828;
    margin-top: 8px;
    box-shadow: 0 4px 4px rgba(8, 2, 2, 0.7);
    border-radius: 4px;
    border: 1px solid rgba(22, 5, 5, 0.7);

 }

 .grid-mainview  .menu .dropdown-menu  .dropdown-item{

    color: #fff;
    opacity: .6;
    padding: 3px 20px;
    line-height: 32px;

 }

 .grid-mainview .menu .dropdown-menu .dropdown-item:hover{
     opacity: 1;
     background-color: #333;

 }

 .grid-aside  .aviso{
    
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    left: 85%;
    top: 30%;
    letter-spacing: 1.76;
    color: #fff;
    padding: 8px 20px;
   

 }
 .grid-aside  .goin{

    
    background-color: rgba(19, 18, 18, 0.7);
    border: 1px solid;
    font-size: 12px;
    font-weight: 20px;
    position:absolute;
    left: 84%;
    top: 45%;
    text-transform: uppercase;
    color: #fff;
    padding: 6px 36px;
    border-radius: 40px;

 }
 .grid-main  .main-top {
 
   
    position: absolute;
    letter-spacing: 1.6;
    color: rgb(27, 23, 23);
    margin-left:90px;
    padding: 17px 120px;
 }
 .grid-main  .main-top h1{

    font-size: 29px;
 }
 .grid-main  .main-top h2{

    font-size: 17px;
 }
 .grid-main  .main-top h3{

    font-size: 7px;
    font-weight: bold;
 }
 .grid-main .slide{

    width: 986.5px;
    height: 230px;
    margin-top: 17px;
    display:inline-block;
    background: rgba(235, 180, 85, 0.920);
 }
.grid-main .premiun .logodos{

    margin:4px;
    width: 84px;
    margin-left: 125px ;
    max-height: 74px;
    
}

.grid-main .main-top h4 {

    font-size: 27px;
    margin-left: 190px;
    position: absolute;
    margin-top: 17px;
    font-weight: bold;
}
.grid-main .modelo .model{

    margin:3px;
    width: 370px;
    height: 205px;
    margin-top: -218px;
    position:absolute;
    margin-left: 320px ; 
    
}
